.ant-select-selection--single{
   height: 40px ;
}
.ant-select-selection__rendered {
    margin-left: 27px ;
    line-height: 34px ;
}
.ant-select-selection{
  background-color: #f2f2f2 ;
  border:0px;
}

.ant-select-dropdown-menu-item{
  background-color: #f2f2f2 ;
}

.ant-select-selection{
 border-radius:0px;
}

.ant-select-open .ant-select-selection {
     border-color: #fff;
     outline: 0;
     box-shadow: 0 0 0 0px rgba(16, 142, 233, 0.2);
}
.ant-select-selection:hover {
     border-color: #fff;
}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #c1272d;
    border-color: #c1272d;
}


.ant-radio-checked .ant-radio-inner {
    border-color: #c1272d;
}

.ant-radio-group{
   font-size: 18px;
}

.ant-radio-inner:after{
  background-color: #c1272d;
}

.ant-pagination-item:hover {
    border-color: #c1272d;
}

.ant-pagination.mini .ant-pagination-item {

    min-width: 35px;
    height: 28px;
    line-height: 27px;
}

.ant-pagination-item-active {
    background-color: #f2f2f2;
    border-color: #c1272d;
}
.ant-pagination-item a{
  color:black;
}

.ant-pagination-item-active a:hover{
  color:black;
}
.ant-select-enabled{
  border-color: #fff;
}
.ant-pagination {
}
.ant-slider-track{
   background-color: #c1272d;
}
.ant-slider-track:hover{
   background-color: #c1272d;
}

.ant-slider:hover .ant-slider-handle {
    border-color: #c1272d;
}
.ant-slider-handle{
  border: solid 2px #c1272d;
}



.img-gallery {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
      float: left;
    margin-right: 4px;
    margin-bottom: 4px;
}

.img-gallery img {
  width: 100px;
  height: 100px;
}

.add-photos div{
  width:175px!important;
  height: 100px!important;
  cursor: pointer;
  background-color: #f2f2f2;
  border-style:none!important;
}

.click_to_upload{
  padding-top: 30px;
  padding-left: 28px;
  color: #999999;
  font-size: 16px;

}

.modal-0-2{
  width: 100%;
  max-width: 350px!important;
}

.ant-confirm .ant-modal-body{
  margin-top: 60px;
}
.ant-btn-primary{
  background-color: #c1272d;
  color:#fff;
  border-color:#c1272d;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
     background-color: #c1272d;
     color:#fff;
    border-color:#c1272d;

}
.ant-btn:hover, .ant-btn:focus{
     background-color: #c1272d;
     color:#fff;
     border-color:#c1272d;

}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
  border-color: #c1272d;
}

.ant-checkbox-wrapper + span, .ant-checkbox + span{
    display: inline-block;
    position: relative;
    padding-left: 5px;
    color: #666666;
    text-transform: capitalize;
    font-size: 12px;
    min-height: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.ant-checkbox-inner{
  width: 16px;
  border-radius: 0px;
  left: 0px;
  top: -2px;
  height: 15px;

}
.ant-checkbox-checked .ant-checkbox-inner:after{
  width:7px;
  left: 3px;
  top: 1px;
}
.ant-checkbox-group{
  font-size: 20px;
}

.text-xs-center img{

}

.property-map{
  margin-top: 60px;
}



.loader {
  height: 20px;
  width: 250px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}



.redlnkuppr {
    text-transform: uppercase;
    color: #c1272d;
}

.redlnkuppr:hover{
  color: #c1272d;
  text-decoration: underline;
}
.redlnkuppr:focus{
  color: #c1272d;
  text-decoration: underline;
}
.profl-cnt-lnks p{
  margin-top: 10px;
}
#changepass-profile-pop{
  margin-top: 50px;
}

.change-password-message{
  color:red;
}
.pop-form-box .form-control{
    background: transparent;
    border: 1px solid #f2f2f2;
    color: #333;
}

#edit-profile-pop{
  margin-top: 50px;
}


.overlayLittle-0-1{
  margin-top: 50px;
}

.ui-autocomplete input{
    font-weight: 400;
    border-radius: 0;
    background: #fff;
    border: 0;
    height: 50px;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 152px;
}

.ui-autocomplete input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #333;
}
.ui-autocomplete input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #333;
    opacity: 1;
}
.ui-autocomplete input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #333;
    opacity: 1;
}
.ui-autocomplete input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333;
}




.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}

.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  display: block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}


/* Style the tab */
div.tab {
    float: left;
    width: 30%;
    height: 300px;
}

.subscribe-email{
  color:#fff;
  margin-left: 15px;
}




body, html {
    height: 100%
}

.comming-soon{
  margin-left: 30%;
}

.text-center span{
   color: #white!important;

}
.text-center .higlight_text{
  color: #c1272d !important;
}

.submit-property-form  h5{
  margin-top: 10px;
}

.click_to_upload .lnr{
  margin-left: 43px;
}

.click_to_upload .photos{
  margin-left: 25px;
}

.location-notification{
  margin-top: 150px;
}

.loan-wrapper{
  margin-top: 30px;
}

.submit-property-form h5{
   margin-bottom: 15px;
}

.overlay-0-0{
  /*margin-bottom: 100px;
  margin-top: 11*/
}

.contact-owner-modal{
}

.carousel .thumb.selected, .carousel .thumb:hover{
    border: 3px solid #c1272d !important;
    padding: 0px !important;
}
.carousel .thumbs-wrapper{
  margin: 1px;
}
.carousel .thumb{
  width: 164px!important;
}
/*.carousel .slider-wrapper.axis-horizontal .slider{
  max-height: 350px;
}*/
.carousel .slider{

}
.carousel .slide{
  height: 100% ;
}

.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
    height: 100vh;
    object-fit: cover;
}

.carousel.carousel-slide{
  max-height: 400px;
}

.btn-red:focus { background-color: #c1272d; color: #fff;  }

.input-group-addon { display: none;}


.head-pading{
  padding-top: 10px;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fa fa-star {
      color: red !important;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.error-validation{
    color:#a94442;
}
.list_images .img-gallery img{position: relative;display: inline-block;}
.list_images .img-gallery .lnr{position: absolute;
    z-index: 1;
    background: #c1272d;
    border-radius: 40px;
    padding: 1px;
    color: #fff;
    right: 0px;
 }

.popover-content td:hover{
   background-color: #337AB7 !important;
   color:#fff;
}

.profl-abt{
  color:  #999999 !important;
}

.forgot-password{
    width: 30%;
    margin: 0 auto;
    background: rgba(256, 256, 256, .2);
    padding: 10px;
}

.auto-class{
  width: 100%;
  height: 100%;
  border-width: 0px;
}
.ant-progress-bg{
  border-radius: 0px !important;

}
.ant-progress-outer{
  border-radius: 0px !important;

}
.ant-progress-inner{
  border: 1px solid #8cc63f !important;
  border-radius: 0px !important;

}
.ant-progress-bg{
  background-color: #8cc63f !important;
}
.ant-progress-text{
  display: none !important;
}

. pop-show{
  margin-top: 10px;
  max-height: 100px;

}
.modal-header {
      padding: 8px !important;
      border-bottom: 1px solid #e5e5e5;
}

.modal-dialog{
  margin-top: 75px !important;
}
.succes-msgdiv{
  margin-top: 11px !important;
}
.midtext-suc {
    margin: 29px 0 54px !important;
}
.loading-bar{
 -webkit-min-logical-height:200px;
}

.property-dlt{position: absolute;top: 5px;right: 4px;}

.anticon{
   font-size: 20px;
}
.property-dlt ,.property-dlt:hover {
  color:#c1272d;
}


.topmidbox a:hover{
  color:#c1272d !important;
}

.property-brief-section span{
   margin-right:5px;
}

.landmark{
  margin-top: 25px;
}

.dashboard-link {
  color: red;
  float: right;
  padding-right:32px;
}
.prop-thumb{
  /*background-image: url('../images/banner1.jpg');*/
}
.RRT__panel{
  border:0px !important;
}
.blogwrap{
  padding: 0px 0 0px !important;
}
.RRT__tab{
  border-style: none !important;
  line-height: 49px;
  text-align: center;
}


.test .ant-checkbox-inner{background: #d9d9d9;}
.hidden {
    display:none;
}
.button-browse {
  border: none;
    padding: 9px;
    margin: 0;
    background: #f2f2f2;
    color: #c1272d;
    width: 100%;
    text-align: right;
    cursor: pointer;
}
.browse-button{position: relative;}
.browse-label{position: absolute;right: -21px;top: 8px;}

.with-pading{
  padding-left: 82px;
  padding-right: 82px;
}


#topMenu {
	    background-color:#222;
    overflow: auto;
}

#box {
  background-color:#eee;
  position:relative;
  /*margin:0 auto;*/
  padding:0px;
  width:100%;
}

.scroller {
  color:#ffffff;
  width:40px;
  text-align:center;
  cursor:pointer;
  display:none;
  padding:5px;
  margin-top:5px;

}
#topMenu .scroller .fa{
  color: #000;
    font-size: 25px;
    padding:11px;
  }

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	  padding:5px;
  	height:84px;
}

.list {
    position:absolute;
    left:0px;
    bottom:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
    height:65px;
}


.item{
  	padding:10px;
   	display:table-cell;
    margin:1px;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#000;
	   vertical-align:middle;
   min-width: 100px;
   height:65px;
}

.fcurrent{background-color: #fff;}
.file {
  visibility: hidden;
  position: absolute;
}


.file > span {
  display: none;
}
.file.is-active > span {
  display: inline-block;
  padding:.5em 1em;
  background: #eee;
  border-radius: .5em;
}
.file.is-active > input {
    position:absolute;
	overflow:hidden;
	width:1px;
	height:1px;
	margin:-1px;
	padding:0;
	border:0;
	clip:rect(0 0 0 0);
}
.file > input:focus + span {
  outline-offset: 2px;
  outline: 1px solid #5d6b72;
}

.ant-calendar-picker{width: 100%;}
.ant-calendar-picker-input{background: #f2f2f2;
border: solid 1px #f2f2f2;
width: 100%;
height: 40px;
border-radius: 0px;}

.ant-input:focus{
  border-color: white !important;
}
.ant-input:hover{
  border-color: white !important;
}

.ant-calendar-picker-input{
  color: black;
}

.item{
  min-width: 144px;
}

.padding-just{
      padding-top: 10px !important;
}


.image {
   position: relative;
   width: 100%; /* for IE 6 */
   height:100%;
}

h7 {
   position: absolute;
   top: 176px;
   width: 100%;
}


h7 span {
   color: white;
   font: bold 21px/39px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
.hight-adjust{
  height: 100%;
  width: 100%;
}

.exprcol{
  min-height: 200px !important;
}
.add-padding
{
  padding-left: 41px;
  padding-right: 41px;
}

.exprthumb img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.recharts-text{
  font-size: 10px !important;
}
.yAxis .recharts-cartesian-axis-ticks{
  display: none
}

path{
  stroke-width: 3px !important;
}
.featured-boxlist .match-item{
  min-height:301px !important;
}

.bloginfobox {
  height: 169px !important;
}
.expertbox h4{
  padding-top: 10px;
}
.expertbox h3{
  padding-top: 10px;
}
.trunk-div{
  font-size: 14px;
  color: #666;
  font-weight: 300;
  margin-bottom: 0;
}
.blginrinf{
  min-height: 121px;
}
.property-price{
  word-wrap:break-word;
}
.side-collapse{
  z-index: 1000 !important;
}

body.modal-open > .wrap {
  overflow: hidden;
  height: 100%;
}
.ant-pagination-item{
  border-radius: 0px !important;
}
.ant-pagination-next{
  border-radius: 0px !important;
}
.ant-pagination-prev{
  border-radius: 0px !important;
}
#landing-main2 { background: url('../images/cool-bg.jpg') no-repeat center; background-size: cover; }
#landing-main0 { background: url('../images/async-pic.jpg') no-repeat center; background-size: cover; overflow-y: hidden;}
.scroll-over{overflow-y: inherit;;}




/*=============added in 08/08/2017======================*/
.services-pricing-box{margin: 30px 0;padding: 0;text-align: center;}
.services-pricing-box li{list-style: none;display: inline-block;margin: 0 5px;}
.pricing-box-inner{width: 342px;vertical-align: top;}
.pricing-box-inner .head{background-color: #252324;text-align: center;padding: 30px 0;}
.pricing-box-inner .head h3{color: #9e9d9d;font-family: serif;font-size: 42px;}
.pricing-box-inner .head h2{color: #fff;font-family: serif;font-size: 6em;}
.pricing-box-inner .head h5{color: #e7e7e7;font-family: serif;font-size: 1.5em;font-family: 'Open Sans', sans-serif; }
.blue-ball{display: inline-block;width: 20px;height: 20px;background: #86bfbf;border-radius: 40px;margin: 0 15px;}
.yellow-ball{display: inline-block;width: 20px;height: 20px;background: #d9811a;border-radius: 40px;margin: 0 15px;}
.list-group-points{margin: 0;padding: 0;}
.list-group-points li{padding: 25px 0;text-align: center;color: #535353;display: block;font-size: 19px;font-weight: 600;letter-spacing: -1px;margin: 0;}
.grey-bg{background-color: #e7e7e7;}
.go-free-button{background-color: #333333;font-family: 'Oswald', sans-serif;font-weight: 600;color: #fff;padding: 13px 10px;border-radius: 10px;
    font-size: 24px;width: 85%;display: inline-block;margin: 10px;}
.go-premium-button{background-color: #c1272d;font-family: 'Oswald', sans-serif;font-weight: 600;color: #fff;padding: 13px 10px;border-radius: 10px;
    font-size: 24px;width: 85%;display: inline-block;margin: 10px;}
.inr-title{position: absolute;font-size: 22px;font-family: 'Open Sans', sans-serif;font-style: italic;margin-top: -9px;margin-left: 80px;}





















#ms-container {
	width: 100%;
	height: 100vh;
	background: #1c9cf2;
}

.ms-content {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 0px solid #2ea4f2;
	border-radius: 100%;
}

.ms-content-inside {
	width: 100%;
	height: 100%;
	position: relative;
}

.ms-line-down-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(0deg);
	transition: transform 0s ease;
}
#ms-download {
	display: none;
}
#ms-download:checked ~ .ms-line-down-container {
	transform: rotate(-360deg);
	transition: transform 1.5s ease 1.25s;
}

.ms-line-down {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 10px;
	height: 125px;
	background: #eece49;
	border-radius: 50px;
	transition: height .5s ease;
}

#ms-download:checked ~ .ms-line-down-container .ms-line-down {
	height: 10px;
	top: -20px;
	animation: ms-bounce .5s forwards .55s;
}
#ms-download:checked ~ .ms-line-down-container .ms-line-down:before {
	content: '';
	position: absolute;
	top: 0;
	left: -94px;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 200px;
	border: 10px solid transparent;
	border-radius: 100%;
	animation: ms-border-fill .5s forwards 3s;
}

.ms-line-point {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 58px;
	height: 130px;
	transition: height .15s ease .45s;
}

#ms-download:checked ~ .ms-line-point {
	height: 60px;
}

#ms-download:checked ~ .ms-line-point:before {
	transform: rotate(90deg);
	right: -10px;
	animation: ms-check-right .25s forwards 3s;
}

#ms-download:checked ~ .ms-line-point:after {
	transform: rotate(-90deg);
	left: -10px;
	animation: ms-check-left .25s forwards 3s;
}

.ms-line-point:before,
.ms-line-point:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 75px;
	bottom: -10px;
	background: #eece49;
	border-radius: 50px;
	transition: transform .15s ease .47s, left .15s ease .47s, right .15s ease .47s;
}

.ms-line-point:before {
	right: 0px;
	transform: rotate(45deg);
}

.ms-line-point:after {
	left: 0px;
	transform: rotate(-45deg);
}

@keyframes ms-bounce {
	0% {
		top: -20px;
	}
	25% {
		top: -250px;
	}
	50% {
		top: -275px;
	}
	100% {
		top: -190px;
	}
}

@keyframes ms-check-left {
	0% {
		transform: rotate(-90deg);
		left: -10px;
		height: 75px;
	}
	100% {
		transform: rotate(-45deg);
		left: 0px;
		height: 45px;
	}
}

@keyframes ms-check-right {
	0% {
		transform: rotate(90deg);
		right: -10px;
		height: 75px;
		bottom: -10px;
	}
	100% {
		transform: rotate(45deg);
		right: 10px;
		height: 80px;
		bottom: -15px;
	}
}

@keyframes ms-border-fill {
	0% {
		border: 10px solid transparent;
	}
	100% {
		border: 10px solid #FFFFFF;
	}
}

.optimum-space{
    padding-top: 100px;
}

.ms-content:hover{
  cursor: pointer; cursor: hand;
}

.bottom-head {
    text-transform: lowercase;;
}
.bottom-head :first-letter {
    text-transform: uppercase !important;
}

.hm-bannerinfo{
  text-transform: lowercase !important;
}
.hm-bannerinfo h2{
    text-transform: lowercase !important;
}

.hm-bannerinfo :first-letter {
    text-transform: uppercase !important;
}


.blackfootwrap :first-letter{
    text-transform: uppercase !important;
}
.hm-search .container :first-letter{
    text-transform: uppercase !important;
}
.bnrinrbox :first-letter{
    text-transform: uppercase !important;
}
.ascoll{
  overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
}

.loc-srch .ui-autocomplete input{
  font-weight: 400;
    border-radius: 0;
    background: #fff;
    border: 0;
    height: 44px;
    box-shadow: none;
    padding-left: 3px;
    padding-right: 27px;
    font-size: 13px;
}

.limit-height{
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #2d2727 !important;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #2d2727 !important;
}
.carousel .slider-wrapper{
  width: 99% !important;
}
.carousel .control-next.control-arrow{
  right: 4px !important;
}
