/*=====COMMON STYLES============*/
.help-block{font-size: 12px;}
.vert-offset-top-0{margin-top: 0px!important;}
.vert-offset-bottom-0{padding-bottom: 0px!important;}
.top-buffer { margin-top:20px; }
  .btn-select {
    position: relative;
    padding: 0;
    width: 100%;
    border-radius: 0;
    border-color: #f2f2f2;
    height: 40px;
    background: #f2f2f2;
}
.btn-select .glyphicon-chevron-down:before{
	width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #ccc;
    content: "";
    position: relative;
    top: 15px;
    left: auto;}

.btn-select .btn-select-value {
    padding: 9px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    font-size: 13px;
    font-weight: 600;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 9px 10px;
    top: 0;
    background: #f2f2f2;
}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}


.btn-select ul li:hover {
    background-color: #f4f4f4;
}

.btn-select ul li.selected {
    color: white;
}

.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #ccc;
}

.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}

.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: #f2f2f2;
    border: #f2f2f2 1px solid;
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
    background-color: #f2f2f2;
    border:#f2f2f2 1px solid;
}
.btn-select.btn-select-light .btn-select-value {
    background-color: white;
    color: black;
}
.breadcrumb{
	padding: 0;
    background-color: transparent;text-transform: uppercase;
    margin-top: 10px;
    }

.breadcrumb li a{color: #c1272d;}

/*=====COMMON STYLES ENDS============*/


/* === SUBMIT PROPERTY TYPE01 STYLE STARTS === */
.submit-property-form h2{    color: #333;
    font-size: 24px;
    margin-top: 0;
    font-family: 'Oswald', sans-serif;font-weight: 600;}
.submit-property-form h2 span, .submit-property-form h5 span{color: #c1272d;}
.submit-property-form h5{font-size: 18px;}
.property-details-section{
	margin-top: 25px;
    border-top: solid 1px #e6e6e6;
    padding: 20px 0 0;
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 25px;}
   .property-details-section h3{
   text-transform: uppercase;
    margin-top: 0;
    color: #000;
    font-size: 18px;
    font-weight: 700;} 
 .personal-info-section{padding: 30px 20px;}
 .property-basic-form{padding: 0px 20px;}
 .property-basic-form label{font-size: 13px;font-weight: 600;} 
 .form-title{
 	border-bottom: solid 5px #c1272d;
    line-height: 28px;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;} 
 .form-title-left-border {
    border-left: solid 5px #c1272d;
    line-height: 28px;
    display: inline-block;
    font-weight: 600;
    padding-left: 10px;
    font-size: 16px;
}   
  .personal-info-form{max-width: 1020px;margin: 0 auto;padding: 40px 0px 40px 40px;}
  .property-basic-inner-form{max-width: 1020px;margin: 0 auto;padding: 40px 25px;} 
  .personal-info-form label, .property-basic-inner-form label{margin-bottom: 0;font-weight: 600;font-size: 13px;}
  .first-field{margin-bottom: 35px;} 
  .service-box{background: #fde9d2; border-radius:15px;padding: 15px;margin-top: 4.9em;}
  .service-box p{font-size: 16px;color: #666;} 
  .service-box a{color: #f7931e;}
  #map-canvas {
    height: 250px;
    width: 100%;
    background-color: #CCC;
    margin-top: 2em;
}
.property-detail-inner-form{padding: 20px;}
.property-detail-inner-form h4{border-bottom: solid 2px #c1272d;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    line-height: 22px; margin: 0;}
    .configuration-details{border-top: solid 1px #e6e6e6;padding: 32px 0;} 
    .configuration-details label{font-size: 13px;font-weight: 600;}
    .custom-btn-group .btn{background: #f2f2f2; border-radius: 0px; margin: 3px;padding: 9px 16px;}
    .custom-btn-group .btn.active{border: solid 1px #c1272d;}
    .area-unit-label{margin: 0;line-height: 40px;font-size: 13px;font-weight: 600;}
    .property-basic-form textarea{height: 130px;}
.upload-photos .btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
   width:500px;
   cursor:pointer;  
 
}
.upload-photos .lnr{display: block;}
.upload-photos .btn-upload input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: 0;
    max-width: 100%;
    height: 100%;
    withd:500px;
    display: block;
    cursor: pointer;
}
.upload-photos .btn-upload .btn{
    padding: 20px 35px;
    background: #f2f2f2;
    color: #999999;
    border: 0;
    font-size: 16px;
 
}
.agree-points .checkbox label{font-size: 13px;color: #333;font-weight: 600;}
.personal-info-form .control-label{text-align: left;font-size: 13px;font-weight: 600;}
.agree-terms-section{border-top: solid 1px #e6e6e6;padding-top: 40px;}

  
/* === SUBMIT PROPERTY TYPE01 STYLE ENDS === */

/*==== SUBMIT PROPERTY TYPE02=====*/
.site-content {
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5%; 
    padding-left: 5%;
    
}
.sub-text{display: block;font-size: 11px;font-style: normal;}

.courses {
   outline: none!important;
}
.course-item {
    width: 25%;
    padding-right: 2%;
    padding-left: 2%;
    float: left;
    background: #f2f2f2;
    height: 40px;
    margin: 0 2px;
    line-height: 36px;
    text-align: center;
}
.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    outline: none!important;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    transform:inherit;
    margin-left: -76px;
}
.flickity-prev-next-button.previous {
    left: 10px;
}
.flickity-prev-next-button {
    position: absolute;
    top: 65%;
    right: -15px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 30%;
}
.flickity-page-dots{display: none;}
.flickity-prev-next-button:disabled {
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: auto;
}
.flickity-slider .is-selected{border: solid 1px #c1272d;}
.link-text{text-align: right!important;}
/*==== SUBMIT PROPERTY TYPE02 ENDS HERE=====*/

/*==== LISTING DETAIL STARTS HERE=====*/

.listing-detail-section{}
.property-figure{background: #f2f2f2;margin-top: 10px;padding: 0px;}
.property-figure h2{font-size: 21px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
    padding-right: 15px;}
    .property-figure h5{margin: 0;font-size: 16px;}
.small-red-btn{background: #c1272d;border-radius: 0px;color: #fff;transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.small-red-btn:hover{background: #000;color: #fff;}
.small-red-btn:hover{color: #fff;}
.property-posted-detail{padding-top: 20px;}
.property-posted-detail li{float: left;padding-right: 15px;color: #b3b3b3;}
.p-left-side{padding: 15px;}
.property-size{padding: 30px 0;border-right: dashed 1px #e6e6e6;text-align: center;}
.property-price{text-align: center;padding: 30px 0px;}
.property-price h3{color: #c1272d;margin: 0;}
.property-price i{color: #c1272d;display: block;text-align: center;font-size: 11px;font-style: normal;}
.property-brief-section{padding: 20px;}
.title-type-small{    color: #333;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: solid 3px #c1272d;
    line-height: 20px;
    display: inline-block;}
.brief-title{color: #b3b3b3;font-style: normal;font-size: 14px;}
.property-brief-section h5{font-weight: 600;font-size: 13px;padding-bottom: 20px;}
.property-brief-section p{font-weight: 600;font-size: 13px;}
.similar-properties-block figure{position: relative;}
.similar-properties-block figure img{width: 100%;height: 205px;object-fit: cover;}
.similar-fig-details{padding: 22px 10px;box-shadow: 0px 2px 4px #ccc;}
.similar-fig-details h2{color: #333;font-weight: 700;font-size: 15px;margin: 0;}
.similar-fig-details h5{color: #666666;font-size: 14px;padding: 0;margin: 0;line-height: 23px;}
.similar-fig-details h6{color: #b3b3b3;font-size: 12px;margin: 0;font-weight: 400;line-height: 20px;}
.similar-fig-details h6 span{float: right;}
.similar-blocks{margin-top: 15px;}
.similar-property-price{border-top:dashed 1px #e6e6e6;padding: 20px 0;text-align: center;margin-top: 14px;}
.similar-property-price h3{color: #c1272d;margin: 0;font-size: 15px;font-weight: 700;}
.similar-property-price h3 .fa{padding-right: 5px;}
.similar-property-price h6{color: #666;margin: 0;}
.sale-label{position: absolute;z-index: 10;top: 1px;background: #c1272d;color: #fff;padding: 5px 15px;font-style: normal;font-size: 11px;}
.listing-right-section{}
.contact-link{transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;border: solid 1px #c1272d;display: block;padding: 20px 0; text-align: center;color: #c1272d;font-weight: 600;font-size: 14px;text-decoration: none;margin-bottom: 10px;}
.contact-link:hover{background:#c1272d;color: #fff;}
.extra-action{padding: 10px 0;}
.extra-action li{display: inline-block; padding: 10px 0;}
.extra-action li a{display: inline-block;color: #000;font-size: 14px;font-weight: 600;padding: 0 32px 0 0;}
.extra-action li a:hover{color: #c1272d;}
.extra-action li a i{padding-right: 8px;font-weight: 500;font-size: 22px;position: relative; top: 5px;}
.share-widget{text-align: center;margin: 0;padding: 12px 0;}
.share-widget li{float: none;display: inline-block;padding: 0 5px;}
.share-widget a{border: solid 1px #000;display: inline-block;border-radius: 50%;width: 40px; height: 40px;vertical-align: middle;
    line-height: 38px;font-size: 18px;color: #000;}
 .share-widget a:hover{background: #c1272d;color: #fff;border: solid 1px #c1272d;transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;}
    .vertical-add-space{background: #f2f2f2;height: 485px;display: table;text-align: center;width: 100%;margin: 10px 0;}
.vertical-add-space h5{display: table-cell;vertical-align: middle;font-weight: 600;} 
.contact-owner{padding: 10px 0;}
.contact-owner-form{padding: 20px 0 0;}
.contact-owner-form .form-control{background: #fff;border: solid 1px #f2f2f2;}  
.form-title-head{padding-right: 10px;}
.box{display: none;}
.Individual{display:block;}
.contact-owner-form textarea{min-height: 130px;}
.slider-nav .slick-slide img{width: 164px;height: 100px;}
.slider-nav .slick-slide{margin: 0px;}
.slider-for{max-height: 350px;margin-bottom: 5px;overflow: hidden;}
.slider-for .slick-slide img{object-fit: cover;}
.bottom-ad{background: #f5f5f5;padding-top: 25px;}
.bottom-ad h5{margin: 0;font-weight: 700;}
.bottom-ad h2{    margin: 0;
    font-weight: 700;
    font-size: 34px;
    padding: 10px 0;}
.ad-btn{background-color: #c1272d;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0;
    padding: 8px;
    border: none;}
    .ad-bottom-right{padding-top: 2em;}
    .slider-nav .slick-current img{border: solid #c1272d 3px;}
/*==== LISTING DETAIL ENDS HERE=====*/


/*===========CALCULATER PAGE CSS=================*/
.tabs-left {
  border-bottom: none;
  padding-top: 2px;
}


.tabs-left>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li.active>a, .tabs-left>li.active a:focus {color: #c1272d;font-weight: 700;border: none;}
.tabs-left>li a, .tabs-left>li a:hover{color: #333333;border: none!important;}
..tabs-left>li.active a:hover{border: none!important;}


.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.vertical-tab .tabs-left{width: 20%;float: left;}
.vertical-tab{margin-top: 2em;}
.vertical-tab h2{text-transform: uppercase;margin-top: 0;color: #000;font-size: 16px;font-weight: 700;margin-bottom: 30px;}
.vertical-tab .tab-content{padding-top: 15px;}
.vertical-tab label{font-weight: 600;}
.calculator-message{padding: 4em 0;}
.cal-error{background: #d75a4a;
    display: inline-block;
    color: #fff;
    width: 80px;
    height: 80px;
    font-size: 3em;
    border-radius: 50px;
    line-height: 1.9em;}

.cal-success{background: #25ae88;
    display: inline-block;
    color: #fff;
    width: 80px;
    height: 80px;
    font-size: 3em;
    border-radius: 50px;
    line-height: 1.9em;}

.calculator-message h3{color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;} 
.calculator-message p{max-width: 280px;margin: 0 auto;}
.calculater-btn {border: solid 1px #c1272d;font-weight: 600;border-radius: 0px;color: #c1272d;transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;} 
.calculater-btn:hover{background-color: #000;color: #fff;}
.compare-list {padding:0;max-width: 300px; margin: 0 auto;}  
.compare-list li{text-align: left; font-size: 18px;padding-bottom: 10px;}  
.compare-list li .lnr{font-size: 24px;position: relative;top: 4px;padding-right: 5px;} 
.cal-add-more{color: #c1272d;float: right;display: inline-block;padding-bottom: 15px;} 


/*=============login popup======================*/ 
.login-title-text{margin-top: 0;color: #000;font-size: 18px;font-weight: 700;}
#login-model .modal-dialog { max-width: 350px;}
#login-model .regfrm-inrbx label{margin-bottom: 6px;}


@media only screen and (max-width:767px) { 

.sm-margin {margin-bottom:5px;}
.personal-info-section { padding: 0!important;}
.personal-info-form{padding: 20px 0px;}
.property-basic-inner-form{padding: 20px 0px;}
.property-basic-form {padding: 5px 0px;}
.property-detail-inner-form { padding: 10px 0;}
.upload-photos .btn-upload .btn{width: 100%;}
.service-box p{font-size: 12px;}
.submit-property-form h2{font-size: 18px;}
.submit-property-form h5, .property-details-section h3 { font-size: 14px;}
.form-title{font-size: 15px;border-bottom: solid 2px #c1272d;line-height: 21px;}
.personal-info-form label, .property-basic-inner-form label, .property-basic-form label, .agree-points .checkbox label {font-size: 12px;}
.service-box{margin-top:0px; }
.sm-pull{float: none!important;}
.configuration-details label{font-size: 12px;}
.configuration-details{padding: 10px 0;}
.form-title-left-border{font-size: 15px;border-left: solid 2px #c1272d;padding-left: 5px;}
.submit-property-section p{font-size: 12px;line-height: 17px;}
.first-field{margin-bottom: 10px;}
.btn-select .btn-select-value{font-size: 12px;}
.breadcrumb>li{font-size: 10px;}
.flickity-prev-next-button{right: 1px;}
.link-text{text-align: left!important;font-size: 12px!important;}
.property-basic-form textarea { height: 70px;}
.sub-text{display: inline-block;}
.btn-select{height: 35px;}
.btn-select .btn-select-arrow{border-bottom: solid 1px #f2f2f2;padding: 7px 10px;}
.upload-photos .btn-upload .btn{font-size: 14px;}
.agree-terms-section{padding-top: 15px;}
.slider-nav .slick-slide img { width: 55px; height: auto;}
.property-figure h2{font-size: 16px;}
.property-size{padding: 0;}
.property-size h4{padding: 0;margin: 0;}
.property-brief-section h5{margin: 0;line-height: 18px;}
.property-figure h5 {font-size: 14px;line-height: 20px;}
.property-brief-section{padding: 0;}
.property-brief-section p{font-size: 12px;}
.slick-prev{left: 0px!important;}
.slick-next{right: 0px!important;} 
.facility-mbl{margin-bottom: 15px;}
.similar-properties-block{margin-bottom: 10px;}
.contact-link{padding: 10px 0;}
.bottom-ad{padding-bottom: 25px;}
.slider-for{margin-bottom: 0;}
.Individual  .btn-red{width: 100%;}
.vertical-tab label{font-size: 12px;}
.cal-error, .cal-success {width: 40px;height: 40px;font-size: 22px;}
.calculator-message { padding: 1em 0;}
.vertical-tab {margin-top: 0em;}
.vertical-tab .tab-content .active>a{background-color: #ccc;}
.vertical-tab .tab-content .accordion-link{font-weight: 700;}
.vertical-tab h2 {margin-top: 14px;font-size: 13px;font-weight: 600;}
.calculator-message h3 {font-size: 15px;margin-bottom: 8px;}
.accordion-xs .tab-content a.active{background-color: #6b6666;color: #fff;position: relative;border: none;}
.accordion-xs .tab-content a.active:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 13px solid white;
    position: absolute;
    top: 13px;
    right: 6px;}
}
.accordion-xs .tab-content a.active:before{content:'';border-bottom: 13px solid #6b6666;}

.accordion-xs .tab-content .accordion-link{position: relative;}
.accordion-xs .tab-content .accordion-link:before{content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid #ccc;
    position: absolute;
    top: 13px;
    right: 6px;}


@media only screen and (max-width:767px) and (orientation:landscape) { 



}

@media only screen and (min-width:768px) and (max-width:991px) { 
    .sm-margin {margin-bottom:5px;}
    .personal-info-form{padding: 40px 0px;}
    .link-text {text-align: left!important;}
    .similar-properties-block{margin-bottom: 10px;}
    .bottom-ad{padding-bottom: 25px;}
    .contact-link{width: 48%;float: left;margin: 0 2px;}
    .slider-nav .slick-slide{margin: 0 2px;}

}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) { 

}

@media only screen and (min-device-width:992px) { 

}
